<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parworks.mars"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="com.parworks.mars.Mars"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.parworks.mars.view.siteexplorer.ExploreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/customActionBarTabStyle" >
        </activity>
        
        <activity
            android:name="com.parworks.mars.view.siteexplorer.TestActivity"
            android:label="@string/app_name" >           
        </activity>
        
        <activity
            android:name="com.parworks.mars.Test"
            android:label="@string/title_activity_test" >             
        </activity>
        
        <activity 
            android:name="com.parworks.arviewer.ARViewerActivity"
            android:label="@string/app_name">            
        </activity>
        
        <activity 
            android:name="com.parworks.arcameraview.CaptureImageActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name">            
        </activity>
        
        <activity
            android:name="com.parworks.mars.MarsMainActivity"
            android:theme="@style/Theme.Sherlock.Light"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider             
            android:name="com.parworks.mars.model.provider.MarsContentProvider"
            android:authorities="com.parworks.mars.provider"
            android:exported="false" >
        </provider>

        <service android:name="com.parworks.mars.account.AuthenticatationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        
        <service
            android:name="com.parworks.mars.model.sync.SyncAdapterService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter">
            </meta-data>
        </service>
        <activity android:name="com.facebook.LoginActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
    </application>
</manifest>
