<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parworks.mars"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="com.parworks.mars.Mars"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.parworks.mars.view.exploreactivity.ExploreActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.parworks.mars.view.exploreactivity.TestActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.parworks.mars.Test"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider 
            android:authorities="com.parworks.mars.model.providers.SitesContentProvider"
            android:name="com.parworks.mars.model.providers.SitesContentProvider"
            android:exported="false" >
        </provider>

        <service android:name="com.parworks.mars.account.AuthenticatationService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <service
            android:name="com.parworks.mars.model.syncadapters.MarsSyncAdapterService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="com.parworks.mars.model.providers.TrendingSitesContentProvider"
            android:authorities="com.parworks.mars.provider.trending" >
        </provider>
        
    </application>

</manifest>